<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Department</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="container">
    <h1>Edit Department</h1>

    <form th:action="@{/department/update/{id}(id=${department.departmentId})}" th:object="${department}" method="post" class="form-container">

        <input type="hidden" th:field="*{departmentId}" />


        <div class="form-group">
            <label for="departmentName">Department Name:</label>
            <input type="text" id="departmentName" th:field="*{departmentName}" class="form-control" required />
            <div th:if="${#fields.hasErrors('departmentName')}" th:errors="*{departmentName}" class="error"></div>
        </div>

        <button type="submit" class="btn btn-primary">Update Department</button>
    </form>


    <a href="/department" class="button back">Back to Departments</a>
</div>
</body>
</html>
